{{!-- <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true"></div> --}}
<div class="row title">
	<span class="col-lg-6 col-lg-offset-3 header text-center">
		COGS121HUEHUEHUE
	</span>
</div>
<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<a class="btn btn-info btn-block" href="/auth/instagram">Login with Instagram</a>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<a class="btn btn-info btn-block" href="/auth/facebook">Login with Facebook</a>
	</div>
</div>
